In [39]:
import pandas as pd

In [40]:
df=pd.read_csv('data/survey_results_public.csv')
schema_df=pd.read_csv('data/survey_results_schema.csv')

In [41]:
schema_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   qid         79 non-null     object
 1   qname       79 non-null     object
 2   question    79 non-null     object
 3   force_resp  66 non-null     object
 4   type        79 non-null     object
 5   selector    79 non-null     object
dtypes: object(6)
memory usage: 3.8+ KB

In [42]:
df.shape

(73268, 79)

In [43]:
schema_df[['qname','question']]

          qname                                           question
0            S0  <div><span style="font-size:19px;"><strong>Hel...
1      MetaInfo                                  Browser Meta Info
2            S1  <span style="font-size:22px; font-family: aria...
3    MainBranch  Which of the following options best describes ...
4    Employment  Which of the following best describes your cur...
..          ...                                                ...
74  Frequency_2  Interacting with people outside of your immedi...
75  Frequency_3  Encountering knowledge silos (where one indivi...
76  TrueFalse_1  Are you involved in supporting new hires durin...
77  TrueFalse_2  Do you use learning resources provided by your...
78  TrueFalse_3  Does your employer give you time to learn new ...

[79 rows x 2 columns]

In [44]:
df.head(20)

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
5,6,"I am not primarily a developer, but I write co...","Student, full-time",NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
6,7,I code primarily as a hobby,"Student, part-time",NaN,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses,NaN,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
7,8,I am a developer by profession,"Not employed, but looking for work",NaN,NaN,Some college/university study without earning ...,Online Courses or Certification,NaN,Coursera;Udemy,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
8,9,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I don’t code outside of work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Coding Bootcamp,NaN,NaN,6,...,15-30 minutes a day,Over 120 minutes a day,Somewhat long,Innersource initiative;DevOps function;Microse...,Yes,Yes,Yes,Appropriate in length,Easy,49056.0
9,10,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,Some college/university study without earning ...,Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,NaN,37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
10,11,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Written Tutorial...,NaN,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,60307.0
11,12,"I am not primarily a developer, but I write co...","Employed, full-time;Independent contractor, fr...",Fully remote,Hobby;Contribute to open-source projects;Freel...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,NaN,12,...,30-60 minutes a day,60-120 minutes a day,Just right,Innersource initiative;DevOps function;Microse...,Yes,Yes,No,Too short,Easy,194400.0
12,13,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","School (i.e., University, College, etc)",NaN,NaN,12,...,30-60 minutes a day,Less than 15 minutes a day,Somewhat short,DevOps function;Microservices,Yes,No,Yes,Appropriate in length,Easy,65000.0
13,14,I am a developer by profession,"Employed, part-time",Fully remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,22,...,60-120 minutes a day,30-60 minutes a day,Very short,Continuous integration (CI) and (more often) c...,No,No,No,Too short,Easy,NaN
14,15,I am a developer by profession,"Employed, full-time;Independent contractor, fr...",Fully remote,Hobby;Freelance/contract work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Written Tutorials;Stack Overflow;Video-based O...,NaN,11,...,30-60 minutes a day,30-60 minutes a day,Somewhat long,DevOps function;Continuous integration (CI) an...,No,Yes,Yes,Appropriate in length,Easy,110000.0
15,16,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media,NaN,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Neither easy nor difficult,NaN
16,17,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy;Codecademy,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,19224.0
17,18,I am a developer by profession,"Employed, full-time",Fully remote,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Written Tutorials;Stac...,Coursera;Pluralsight,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,202623.0
18,19,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Secondary school (e.g. American high school, G...","Books / Physical media;School (i.e., Universit...",NaN,NaN,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,51192.0
19,20,I am learning to code,"Student, full-time",NaN,NaN,Some college/university study without earning ...,Books / Physical media;Coding Bootcamp;Colleague,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [45]:
df.tail(20)

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
73248,73249,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,Udemy;Codecademy,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73249,73250,I am learning to code,"Student, full-time",NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Friend or family member;Other online resources...,Technical documentation;Stack Overflow;Video-b...,Udemy;Udacity,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
73250,73251,I am a developer by profession,"Employed, full-time;Independent contractor, fr...",Fully remote,Freelance/contract work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Stack Overflow;H...,Coursera;Udemy,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73251,73252,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;edX,12,...,30-60 minutes a day,15-30 minutes a day,Just right,DevOps function;Developer portal or other cent...,Yes,No,Yes,Appropriate in length,Easy,NaN
73252,73253,I am learning to code,"Student, part-time",NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;C...,NaN,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73253,73254,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Friend or family member;Other online resources...,Programming Games;Stack Overflow;Video-based O...,Udemy,5,...,60-120 minutes a day,60-120 minutes a day,Just right,Innersource initiative;DevOps function;Microse...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,NaN
73254,73255,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Codecademy;edX,7,...,60-120 minutes a day,30-60 minutes a day,Somewhat long,Developer portal or other central places to fi...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,NaN
73255,73256,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,14,...,60-120 minutes a day,Less than 15 minutes a day,Somewhat long,DevOps function;Microservices;Continuous integ...,Yes,Yes,Yes,Too long,Neither easy nor difficult,NaN
73256,73257,I am a developer by profession,"Student, part-time;Employed, part-time","Hybrid (some remote, some in-person)",School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Stack Overflow;Online ...,Coursera;Udemy,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73257,73258,I am learning to code,"Student, full-time",NaN,NaN,"Secondary school (e.g. American high school, G...",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,NaN,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN
73258,73259,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses;Onli...,Coursera;Udemy,5,...,15-30 minutes a day,15-30 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Neither easy nor difficult,NaN
73259,73260,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Other (please specify):,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,NaN,6,...,15-30 minutes a day,Less than 15 minutes a day,Somewhat short,DevOps function;Continuous integration (CI) an...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,NaN
73260,73261,I am a developer by profession,"Employed, full-time;Student, part-time","Hybrid (some remote, some in-person)",School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","School (i.e., University, College, etc)",NaN,NaN,8,...,15-30 minutes a day,30-60 minutes a day,Very long,DevOps function;Developer portal or other cent...,No,No,Yes,Appropriate in length,Easy,NaN
73261,73262,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Programming Game...,Udemy;Codecademy;Pluralsight,9,...,15-30 minutes a day,15-30 minutes a day,Somewhat long,Innersource initiative;DevOps function;Microse...,Yes,Yes,Yes,Appropriate in length,Easy,NaN
73262,73263,I am learning to code,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",School or academic work,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Written Tutorials;Stac...,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
73263,73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,...,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73264,73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,...,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73265,73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,...,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73266,73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73267,73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [46]:
df['Country']

0                                                      NaN
1                                                   Canada
2        United Kingdom of Great Britain and Northern I...
3                                                   Israel
4                                 United States of America
                               ...
73263                                              Nigeria
73264                             United States of America
73265                             United States of America
73266    United Kingdom of Great Britain and Northern I...
73267                                               Canada
Name: Country, Length: 73268, dtype: object

In [47]:
df[['Country','Employment']]

,Country,Employment
0,NaN,NaN
1,Canada,"Employed, full-time"
2,United Kingdom of Great Britain and Northern I...,"Employed, full-time"
3,Israel,"Employed, full-time"
4,United States of America,"Employed, full-time"
...,...,...
73263,Nigeria,"Employed, full-time"
73264,United States of America,"Employed, full-time"
73265,United States of America,"Employed, full-time"
73266,United Kingdom of Great Britain and Northern I...,"Employed, full-time"
73267,Canada,"Independent contractor, freelancer, or self-em..."

In [48]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'Country', 'Currency',
       'CompTotal', 'CompFreq', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysProfessional use',
       'OpSysPersonal use', 'VersionControlSystem', 'VCInteraction',
       'VCHostingPersonal use', 'VCHostingProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'TBranch', 'ICorPM', 'WorkExp',
       'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2',
       'TrueFalse_3', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [49]:
df.iloc[0]

ResponseId                         1
MainBranch             None of these
Employment                       NaN
RemoteWork                       NaN
CodingActivities                 NaN
                           ...
TrueFalse_2                      NaN
TrueFalse_3                      NaN
SurveyLength                     NaN
SurveyEase                       NaN
ConvertedCompYearly              NaN
Name: 0, Length: 79, dtype: object

In [79]:
df.loc[1,['Age','Gender','Country','Employment']]

Age                           NaN
Gender                        NaN
Country                    Canada
Employment    Employed, full-time
Name: 1, dtype: object

In [51]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'Country', 'Currency',
       'CompTotal', 'CompFreq', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysProfessional use',
       'OpSysPersonal use', 'VersionControlSystem', 'VCInteraction',
       'VCHostingPersonal use', 'VCHostingProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'TBranch', 'ICorPM', 'WorkExp',
       'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2',
       'TrueFalse_3', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [52]:
df.loc[0:5,'Age':'Ethnicity']

,Age,Gender,Trans,Sexuality,Ethnicity
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,25-34 years old,Man,No,Bisexual,White
3,35-44 years old,Man,No,Straight / Heterosexual,White
4,25-34 years old,NaN,NaN,NaN,NaN
5,25-34 years old,"Or, in your own words:","Or, in your own words:",Prefer to self-describe:,"Or, in your own words:"

In [53]:
df['Country'].value_counts()

Country
United States of America                                13543
India                                                    6639
Germany                                                  5395
United Kingdom of Great Britain and Northern Ireland     4190
Canada                                                   2490
                                                        ...
Monaco                                                      1
Djibouti                                                    1
Seychelles                                                  1
Solomon Islands                                             1
Saint Kitts and Nevis                                       1
Name: count, Length: 180, dtype: int64

In [81]:
type(df.index)

pandas.core.indexes.range.RangeIndex

In [55]:
df.loc[0:10,'Country']

0                                                   NaN
1                                                Canada
2     United Kingdom of Great Britain and Northern I...
3                                                Israel
4                              United States of America
5                                               Germany
6                                                 India
7                                                 India
8                                           Netherlands
9                                               Croatia
10    United Kingdom of Great Britain and Northern I...
Name: Country, dtype: object

In [84]:
df.set_index('Country',inplace=True)

In [57]:
df.loc['Israel']

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
Country,,,,,,,,,,,,,,,,,,,,,
Israel,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
Israel,25,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,I don’t code outside of work,Some college/university study without earning ...,NaN,NaN,NaN,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN
Israel,28,I am a developer by profession,"Not employed, and not looking for work",NaN,NaN,Something else,"Other online resources (e.g., videos, blogs, f...",Technical documentation;Written Tutorials;Stac...,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
Israel,34,"I am not primarily a developer, but I write co...","Student, part-time;Employed, part-time",Full in-person,Hobby,Some college/university study without earning ...,Friend or family member;Other online resources...,Technical documentation;Blogs;Written Tutorial...,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
Israel,36,"I am not primarily a developer, but I write co...","Student, full-time",NaN,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Israel,72831,I am a developer by profession,"Employed, full-time",Full in-person,Other (please specify):,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;H...,NaN,5,...,60-120 minutes a day,15-30 minutes a day,Somewhat short,NaN,Yes,No,No,Too long,Neither easy nor difficult,75324.0
Israel,72962,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","School (i.e., University, College, etc);On the...",NaN,NaN,16,...,30-60 minutes a day,30-60 minutes a day,Just right,Innersource initiative;DevOps function;Microse...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,283982.0
Israel,73002,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Bootstrapping a business,Primary/elementary school,Books / Physical media;Friend or family member...,NaN,Other,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
Israel,73012,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Stack Overflow;O...,Udemy;Pluralsight,4,...,60-120 minutes a day,60-120 minutes a day,Somewhat short,Innersource initiative;DevOps function,No,Yes,Yes,Appropriate in length,Neither easy nor difficult,63852.0
Israel,73239,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I don’t code outside of work,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Udemy;Codecademy;Udacity,8,...,30-60 minutes a day,60-120 minutes a day,Somewhat long,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Appropriate in length,Easy,NaN

In [86]:
type(df.index)

pandas.core.indexes.base.Index

In [88]:
df.reset_index(inplace=True)

In [60]:
schema_df.set_index('qname',inplace=True)

In [61]:
schema_df.loc['Employment','question']

'Which of the following best describes your current employment status?'

In [62]:
schema_df.sort_index(inplace=True)

In [63]:
filt=df['Country']=='Pakistan'

In [64]:
print(type(filt))
print(filt)
print(df.loc[filt, 'RemoteWork'].value_counts())

<class 'pandas.core.series.Series'>
0        False
1        False
2        False
3        False
4        False
         ...
73263    False
73264    False
73265    False
73266    False
73267    False
Name: Country, Length: 73268, dtype: bool
RemoteWork
Full in-person                          209
Hybrid (some remote, some in-person)    207
Fully remote                            162
Name: count, dtype: int64

In [65]:
filt2=(df['Country']=='Pakistan') & (df['RemoteWork'] == 'Fully remote')
# df[['Country','RemoteWork']]

In [66]:
df.loc[filt2]

,Country,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
916,Pakistan,917,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy;Pluralsight,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,8976.0
1390,Pakistan,1391,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,30000.0
3585,Pakistan,3586,I am learning to code,"Student, part-time;Independent contractor, fre...",Fully remote,Freelance/contract work;School or academic work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","School (i.e., University, College, etc);On the...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
4354,Pakistan,4355,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Freel...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
4727,Pakistan,4728,I am a developer by profession,"Employed, full-time",Fully remote,Bootstrapping a business;Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Stack Overflow;V...,Udemy;edX;Other,...,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices,No,Yes,Yes,Appropriate in length,Easy,28527.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71904,Pakistan,71905,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Stack Overflow;Video-b...,Coursera;Udemy,...,15-30 minutes a day,Less than 15 minutes a day,Somewhat long,Innersource initiative;DevOps function;Microse...,Yes,Yes,Yes,Appropriate in length,Easy,29928.0
71984,Pakistan,71985,"I am not primarily a developer, but I write co...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Freelance/contract work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Blogs;Written Tutorials;Stack Overflow;Video-b...,Other,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
72000,Pakistan,72001,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification,NaN,Udemy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,5988.0
72868,Pakistan,72869,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Udemy;Pluralsight,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,132.0
72908,Pakistan,72909,I am a developer by profession,"Employed, full-time",Fully remote,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Video-based Onli...,Udacity,...,Less than 15 minutes a day,Less than 15 minutes a day,Somewhat long,Innersource initiative;DevOps function;Microse...,No,Yes,Yes,Appropriate in length,Easy,29923.0

In [67]:
df.loc[((~filt2) & (df['Country']=='Pakistan'))]

,Country,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
1198,Pakistan,1199,I am learning to code,"Student, full-time",NaN,NaN,Some college/university study without earning ...,"School (i.e., University, College, etc)",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
2917,Pakistan,2918,I am a developer by profession,"Employed, full-time",Full in-person,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Stack Overflow;V...,NaN,...,15-30 minutes a day,60-120 minutes a day,Somewhat long,DevOps function;Continuous integration (CI) an...,Yes,No,Yes,Too long,Easy,20952.0
3044,Pakistan,3045,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Pluralsight;edX;Udacity,...,30-60 minutes a day,15-30 minutes a day,Just right,Continuous integration (CI) and (more often) c...,No,Yes,No,Too long,Easy,4308.0
3509,Pakistan,3510,I am a developer by profession,"Employed, full-time;Independent contractor, fr...","Hybrid (some remote, some in-person)",Contribute to open-source projects;Bootstrappi...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Blogs;Stack Overflow;Video-based Online Course...,Coursera;Udemy,...,Less than 15 minutes a day,30-60 minutes a day,Just right,None of these,Yes,Yes,Yes,Appropriate in length,Easy,5988.0
3553,Pakistan,3554,I am a developer by profession,"Employed, full-time",Full in-person,Contribute to open-source projects;Bootstrappi...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","School (i.e., University, College, etc);On the...",NaN,Coursera;Udemy,...,NaN,NaN,NaN,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Neither easy nor difficult,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71774,Pakistan,71775,I am learning to code,"Student, full-time",NaN,NaN,"Associate degree (A.A., A.S., etc.)","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses;How-...,Codecademy;Other,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
71798,Pakistan,71799,"I used to be a developer by profession, but no...","Student, part-time;Employed, part-time","Hybrid (some remote, some in-person)",Freelance/contract work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Online Courses or Certification,NaN,Coursera;Udemy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
72824,Pakistan,72825,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,NaN,NaN,...,30-60 minutes a day,15-30 minutes a day,Somewhat long,Microservices;Continuous integration (CI) and ...,Yes,No,Yes,Appropriate in length,Easy,59844.0
72937,Pakistan,72938,I am learning to code,"Student, full-time",NaN,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Video-b...,Other,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73028,Pakistan,73029,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Online books;How...,Coursera;Udemy;Codecademy,...,Less than 15 minutes a day,15-30 minutes a day,Very long,DevOps function;Microservices;Continuous integ...,Yes,No,Yes,Too long,Easy,21540.0

In [68]:
common_languages=['Python','JavaScript','C++']
countries=['Pakistan','Turkey']
filt3=(df['ConvertedCompYearly'] > 10000) & (df['Country'].isin(countries)) & (df['LanguageHaveWorkedWith'].str.contains('Python'))
df.loc[filt3,'LanguageHaveWorkedWith']

99        C;C++;HTML/CSS;Java;JavaScript;MATLAB;Python;SQL
1301              Assembly;C;C++;Go;JavaScript;Python;Rust
1390     Assembly;Bash/Shell;C;C++;Dart;Go;HTML/CSS;Jav...
2495     Bash/Shell;C;C#;Dart;Elixir;Erlang;Java;JavaSc...
3830                               HTML/CSS;PHP;Python;SQL
                               ...
71656                HTML/CSS;JavaScript;Python;TypeScript
71707       Assembly;C;C#;C++;COBOL;Fortran;Python;SQL;VBA
72386       HTML/CSS;JavaScript;Python;Ruby;SQL;TypeScript
72824             Dart;JavaScript;Kotlin;Python;TypeScript
72908                               JavaScript;Python;Rust
Name: LanguageHaveWorkedWith, Length: 172, dtype: object

In [191]:
test_df=(df.loc[filt,['Country','Employment']]).iloc[0:10]

In [70]:
test_df.columns=['Country Name','Employment Status']
test_df.columns=test_df.columns.str.replace(' ','_')
test_df

     Country_Name                                  Employment_Status
916      Pakistan                                Employed, full-time
1198     Pakistan                                 Student, full-time
1390     Pakistan                                Employed, full-time
2917     Pakistan                                Employed, full-time
3044     Pakistan                                Employed, full-time
3509     Pakistan  Employed, full-time;Independent contractor, fr...
3553     Pakistan                                Employed, full-time
3585     Pakistan  Student, part-time;Independent contractor, fre...
3598     Pakistan                                Employed, full-time
3694     Pakistan                                Employed, full-time

In [71]:
test_df.rename(columns={'Country_Name':'Country'},inplace=True)
test_df

       Country                                  Employment_Status
916   Pakistan                                Employed, full-time
1198  Pakistan                                 Student, full-time
1390  Pakistan                                Employed, full-time
2917  Pakistan                                Employed, full-time
3044  Pakistan                                Employed, full-time
3509  Pakistan  Employed, full-time;Independent contractor, fr...
3553  Pakistan                                Employed, full-time
3585  Pakistan  Student, part-time;Independent contractor, fre...
3598  Pakistan                                Employed, full-time
3694  Pakistan                                Employed, full-time

In [72]:
def remove_unnecessary_words(word:str):
    return word.split(',')[0]

test_df['Employment_Status']=test_df['Employment_Status'].apply(lambda x:x.split(',')[0])

In [73]:
test_df.apply(len,axis=0)

Country              10
Employment_Status    10
dtype: int64

In [74]:
test_df['Employment_Status'].replace({'Student':'Not-Employed'})

916         Employed
1198    Not-Employed
1390        Employed
2917        Employed
3044        Employed
3509        Employed
3553        Employed
3585    Not-Employed
3598        Employed
3694        Employed
Name: Employment_Status, dtype: object

In [75]:
test_df.map(str.lower)

       Country Employment_Status
916   pakistan          employed
1198  pakistan           student
1390  pakistan          employed
2917  pakistan          employed
3044  pakistan          employed
3509  pakistan          employed
3553  pakistan          employed
3585  pakistan           student
3598  pakistan          employed
3694  pakistan          employed

In [76]:
test_df.reset_index(inplace=True)
test_df.loc[[0, 5, 8], "Employment_Status"] = "Unemployed"
test_df["Finding_Job"] = test_df["Employment_Status"].map(
    {"Employed": False, "Student": False, "Unemployed": True}
)
test_df

   index   Country Employment_Status  Finding_Job
0    916  Pakistan        Unemployed         True
1   1198  Pakistan           Student        False
2   1390  Pakistan          Employed        False
3   2917  Pakistan          Employed        False
4   3044  Pakistan          Employed        False
5   3509  Pakistan        Unemployed         True
6   3553  Pakistan          Employed        False
7   3585  Pakistan           Student        False
8   3598  Pakistan        Unemployed         True
9   3694  Pakistan          Employed        False

In [238]:
df['LanguageHaveWorkedWith'].str.split(';',expand=True)
new_test_df=df.loc[df['LanguageHaveWorkedWith'].notna(),'LanguageHaveWorkedWith']
new_test_df=(new_test_df.str.split(';')).apply(len)
# new_test_df=new_test_df.apply(len)
df['LanguageHaveWorkedWith'].iloc[new_test_df.idxmax()]

'APL;Assembly;Bash/Shell;C;C#;C++;Clojure;COBOL;Crystal;Dart;Delphi;Elixir;Erlang;F#;Fortran;Go;Groovy;Haskell;HTML/CSS;Java;JavaScript;Julia;Kotlin;LISP;Lua;MATLAB;OCaml;Objective-C;Perl;PHP;PowerShell;Python;R;Ruby;Rust;SAS;Scala;Solidity;SQL;Swift;TypeScript;VBA'

In [78]:
test_df.drop(columns=['Employment_Status'])

   index   Country  Finding_Job
0    916  Pakistan         True
1   1198  Pakistan        False
2   1390  Pakistan        False
3   2917  Pakistan        False
4   3044  Pakistan        False
5   3509  Pakistan         True
6   3553  Pakistan        False
7   3585  Pakistan        False
8   3598  Pakistan         True
9   3694  Pakistan        False

In [90]:
new_df = pd.DataFrame(
    {
        "Country": ["India", "Moroco", "India", "China"],
        "Employment_Status": ["Employed", "Student", "Employed", "Unemployed"],
        "Finding_Job": [False, False, False, True],
    }
)
new_df

  Country Employment_Status  Finding_Job
0   India          Employed        False
1  Moroco           Student        False
2   India          Employed        False
3   China        Unemployed         True

In [192]:
# result = pd.concat([test_df, new_df], axis=0, keys=['test_df', 'new_df'])
# print(result)
# print(test_df)
# test_df.reset_index(drop=True)

new_df2=pd.concat([test_df,new_df],ignore_index=False)
  
new_df2


# new_df3=pd.Series(['Yes','Yes','No','No'],name='Willing_To_Relocate')
# # new_df3=new_df3.to_frame(name=)
# print(pd.concat([new_df,new_df3],axis=1))

,Country,Employment,Employment_Status,Finding_Job
916,Pakistan,"Employed, full-time",NaN,NaN
1198,Pakistan,"Student, full-time",NaN,NaN
1390,Pakistan,"Employed, full-time",NaN,NaN
2917,Pakistan,"Employed, full-time",NaN,NaN
3044,Pakistan,"Employed, full-time",NaN,NaN
3509,Pakistan,"Employed, full-time;Independent contractor, fr...",NaN,NaN
3553,Pakistan,"Employed, full-time",NaN,NaN
3585,Pakistan,"Student, part-time;Independent contractor, fre...",NaN,NaN
3598,Pakistan,"Employed, full-time",NaN,NaN
3694,Pakistan,"Employed, full-time",NaN,NaN
0,India,NaN,Employed,False
1,Moroco,NaN,Student,False
2,India,NaN,Employed,False
3,China,NaN,Unemployed,True

In [116]:
# new_df2.drop(index=new_df2[new_df2['Country']=='India'].index)

     Country Employment_Status  Finding_Job
0   Pakistan        Unemployed         True
1   Pakistan           Student        False
2   Pakistan          Employed        False
3   Pakistan          Employed        False
4   Pakistan          Employed        False
5   Pakistan        Unemployed         True
6   Pakistan          Employed        False
7   Pakistan           Student        False
8   Pakistan        Unemployed         True
9   Pakistan          Employed        False
11    Moroco           Student        False
13     China        Unemployed         True

In [194]:
new_df2.sort_values(by=['Country','Employment_Status'],ascending=True)

,Country,Employment,Employment_Status,Finding_Job
3,China,NaN,Unemployed,True
0,India,NaN,Employed,False
2,India,NaN,Employed,False
1,Moroco,NaN,Student,False
916,Pakistan,"Employed, full-time",NaN,NaN
1198,Pakistan,"Student, full-time",NaN,NaN
1390,Pakistan,"Employed, full-time",NaN,NaN
2917,Pakistan,"Employed, full-time",NaN,NaN
3044,Pakistan,"Employed, full-time",NaN,NaN
3509,Pakistan,"Employed, full-time;Independent contractor, fr...",NaN,NaN
3553,Pakistan,"Employed, full-time",NaN,NaN
3585,Pakistan,"Student, part-time;Independent contractor, fre...",NaN,NaN
3598,Pakistan,"Employed, full-time",NaN,NaN
3694,Pakistan,"Employed, full-time",NaN,NaN

In [132]:
new_df2.sort_index()

     Country Employment_Status  Finding_Job
0   Pakistan        Unemployed         True
1   Pakistan           Student        False
2   Pakistan          Employed        False
3   Pakistan          Employed        False
4   Pakistan          Employed        False
5   Pakistan        Unemployed         True
6   Pakistan          Employed        False
7   Pakistan           Student        False
8   Pakistan        Unemployed         True
9   Pakistan          Employed        False
10     India          Employed        False
11    Moroco           Student        False
12     India          Employed        False
13     China        Unemployed         True

In [133]:
df.nlargest(columns=['ConvertedCompYearly'],n=10)

,index,Country,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
40304,40304,United Kingdom of Great Britain and Northern I...,40305,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Full in-person,Freelance/contract work,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Blogs;Stack Overflow;Online books;Video-based ...,...,60-120 minutes a day,60-120 minutes a day,Very long,Innersource initiative;DevOps function;Develop...,Yes,Yes,Yes,Appropriate in length,Easy,50000000.0
201,201,Portugal,202,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Bootstrapping a business,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,30-60 minutes a day,Less than 15 minutes a day,Somewhat long,Innersource initiative;DevOps function;Microse...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,44790396.0
62026,62026,United States of America,62027,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Written Tutorials;Video-based Online Courses;O...,...,60-120 minutes a day,30-60 minutes a day,Somewhat long,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Neither easy nor difficult,35000000.0
70522,70522,United States of America,70523,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Freel...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,...,30-60 minutes a day,Less than 15 minutes a day,Somewhat short,Innersource initiative;DevOps function;Microse...,Yes,Yes,Yes,Appropriate in length,Easy,32500000.0
61043,61043,Thailand,61044,I am a developer by profession,I prefer not to say,NaN,NaN,Primary/elementary school,On the job training;Online Courses or Certific...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,28853768.0
18922,18922,United States of America,18923,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,22500000.0
62223,62223,United States of America,62224,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Friend or family member;Other online resources...,Technical documentation;Blogs;Stack Overflow;O...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,22500000.0
66495,66495,United States of America,66496,I am a developer by profession,"Employed, full-time",Fully remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,18000000.0
1290,1290,United States of America,1291,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Other doctoral degree (Ph.D., Ed.D., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,15000000.0
24163,24163,United States of America,24164,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Freelance/contract work,Some college/university study without earning ...,Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,...,30-60 minutes a day,30-60 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,No,Appropriate in length,Easy,15000000.0

In [134]:
df.nsmallest(columns=['ConvertedCompYearly'],n=10)

,index,Country,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
19912,19912,Belgium,19913,"I am not primarily a developer, but I write co...",I prefer not to say,NaN,NaN,Primary/elementary school,Books / Physical media,NaN,...,15-30 minutes a day,30-60 minutes a day,Very long,Innersource initiative;DevOps function;Microse...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,1.0
39915,39915,India,39916,I am a developer by profession,"Employed, full-time;Independent contractor, fr...",Fully remote,Freelance/contract work;School or academic work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Online Courses or Certific...,NaN,...,60-120 minutes a day,Over 120 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Neither easy nor difficult,1.0
52005,52005,Viet Nam,52006,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Bootstrapping a business;Freelance/contr...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","School (i.e., University, College, etc)",NaN,...,30-60 minutes a day,15-30 minutes a day,Very short,None of these,Yes,Yes,Yes,Appropriate in length,Easy,1.0
64366,64366,United States of America,64367,"I am not primarily a developer, but I write co...","Employed, full-time",Fully remote,Hobby;Other (please specify):,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Video-based Onli...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,1.0
65742,65742,India,65743,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects;Freel...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Blogs;Written Tutorials;Stack Overflow;Video-b...,...,15-30 minutes a day,30-60 minutes a day,Somewhat short,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,1.0
6123,6123,South Korea,6124,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Secondary school (e.g. American high school, G...","Books / Physical media;School (i.e., Universit...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,3.0
32332,32332,Viet Nam,32333,I am a developer by profession,"Employed, full-time;Independent contractor, fr...",Fully remote,Hobby;Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,15-30 minutes a day,15-30 minutes a day,Just right,Innersource initiative;DevOps function;Microse...,Yes,Yes,Yes,Appropriate in length,Easy,3.0
36435,36435,Japan,36436,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Associate degree (A.A., A.S., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow,...,15-30 minutes a day,15-30 minutes a day,Just right,Automated testing,Yes,No,No,Too long,Difficult,3.0
2376,2376,Colombia,2377,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,4.0
27980,27980,Japan,27981,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects;Freel...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs,...,30-60 minutes a day,Less than 15 minutes a day,Just right,Continuous integration (CI) and (more often) c...,No,No,Yes,Too long,Neither easy nor difficult,4.0

In [148]:
df.median(numeric_only=True)

index                        36633.5
ResponseId                   36634.5
CompTotal                    77500.0
VCHostingPersonal use            NaN
VCHostingProfessional use        NaN
WorkExp                          8.0
ConvertedCompYearly          67845.0
dtype: float64

In [149]:
df.describe()

,index,ResponseId,CompTotal,VCHostingPersonal use,VCHostingProfessional use,WorkExp,ConvertedCompYearly
count,73268.000000,73268.000000,3.842200e+04,0.0,0.0,36769.000000,3.807100e+04
mean,36633.500000,36634.500000,2.342434e+52,NaN,NaN,10.242378,1.707613e+05
std,21150.794099,21150.794099,4.591478e+54,NaN,NaN,8.706850,7.814132e+05
min,0.000000,1.000000,0.000000e+00,NaN,NaN,0.000000,1.000000e+00
25%,18316.750000,18317.750000,3.000000e+04,NaN,NaN,4.000000,3.583200e+04
50%,36633.500000,36634.500000,7.750000e+04,NaN,NaN,8.000000,6.784500e+04
75%,54950.250000,54951.250000,1.540000e+05,NaN,NaN,15.000000,1.200000e+05
max,73267.000000,73268.000000,9.000000e+56,NaN,NaN,50.000000,5.000000e+07

In [150]:
df['CompTotal'].count()

np.int64(38422)

In [156]:
schema_df.index
schema_df.loc['MetaInfo','question']
df['MentalHealth']

0                                                      NaN
1                                                      NaN
2        I have a mood or emotional disorder (e.g., dep...
3                                        None of the above
4                                                      NaN
                               ...
73263                                    None of the above
73264                                    None of the above
73265                                    None of the above
73266                                    None of the above
73267                                    None of the above
Name: MentalHealth, Length: 73268, dtype: object

In [195]:
df['Country'].value_counts(normalize=True)

Country
United States of America                                0.188697
India                                                   0.092503
Germany                                                 0.075170
United Kingdom of Great Britain and Northern Ireland    0.058380
Canada                                                  0.034694
                                                          ...
Monaco                                                  0.000014
Djibouti                                                0.000014
Seychelles                                              0.000014
Solomon Islands                                         0.000014
Saint Kitts and Nevis                                   0.000014
Name: proportion, Length: 180, dtype: float64

In [163]:
country_grp = df.groupby(by=['Country']) 
print(country_grp)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7d95d63cc710>

In [197]:
country_grp.get_group(name=('Pakistan'))

/tmp/ipykernel_6615/4151409613.py:1: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  country_grp.get_group(name=('Pakistan'))

,index,Country,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
916,916,Pakistan,917,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,8976.0
1198,1198,Pakistan,1199,I am learning to code,"Student, full-time",NaN,NaN,Some college/university study without earning ...,"School (i.e., University, College, etc)",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
1390,1390,Pakistan,1391,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,30000.0
2917,2917,Pakistan,2918,I am a developer by profession,"Employed, full-time",Full in-person,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Stack Overflow;V...,...,15-30 minutes a day,60-120 minutes a day,Somewhat long,DevOps function;Continuous integration (CI) an...,Yes,No,Yes,Too long,Easy,20952.0
3044,3044,Pakistan,3045,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,30-60 minutes a day,15-30 minutes a day,Just right,Continuous integration (CI) and (more often) c...,No,Yes,No,Too long,Easy,4308.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72824,72824,Pakistan,72825,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,NaN,...,30-60 minutes a day,15-30 minutes a day,Somewhat long,Microservices;Continuous integration (CI) and ...,Yes,No,Yes,Appropriate in length,Easy,59844.0
72868,72868,Pakistan,72869,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,132.0
72908,72908,Pakistan,72909,I am a developer by profession,"Employed, full-time",Fully remote,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Video-based Onli...,...,Less than 15 minutes a day,Less than 15 minutes a day,Somewhat long,Innersource initiative;DevOps function;Microse...,No,Yes,Yes,Appropriate in length,Easy,29923.0
72937,72937,Pakistan,72938,I am learning to code,"Student, full-time",NaN,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Video-b...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73028,73028,Pakistan,73029,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Online books;How...,...,Less than 15 minutes a day,15-30 minutes a day,Very long,DevOps function;Microservices;Continuous integ...,Yes,No,Yes,Too long,Easy,21540.0

In [174]:
country_grp['Employment'].get_group(name=('Pakistan',)).value_counts(normalize=True).head(30)

Employment
Employed, full-time                                                                                            0.514085
Independent contractor, freelancer, or self-employed                                                           0.088732
Student, full-time                                                                                             0.081690
Employed, full-time;Independent contractor, freelancer, or self-employed                                       0.074648
Not employed, but looking for work                                                                             0.036620
Student, part-time                                                                                             0.029577
Employed, part-time                                                                                            0.022535
Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time                   0.021127
Student, full-time;Independent contractor, freelancer, or self-employed                                        0.015493
Student, full-time;Not employed, but looking for work                                                          0.012676
Employed, full-time;Student, part-time                                                                         0.011268
Employed, full-time;Student, full-time                                                                         0.009859
Independent contractor, freelancer, or self-employed;Employed, part-time                                       0.008451
Student, part-time;Independent contractor, freelancer, or self-employed                                        0.007042
I prefer not to say                                                                                            0.007042
Student, full-time;Employed, part-time                                                                         0.007042
Not employed, and not looking for work                                                                         0.005634
Employed, full-time;Student, part-time;Independent contractor, freelancer, or self-employed                    0.005634
Not employed, but looking for work;Independent contractor, freelancer, or self-employed                        0.005634
Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed     0.005634
Student, part-time;Not employed, but looking for work                                                          0.005634
Student, full-time;Student, part-time                                                                          0.005634
Student, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time                    0.004225
Student, part-time;Employed, part-time                                                                         0.004225
Employed, full-time;Employed, part-time                                                                        0.002817
Student, part-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed     0.002817
Student, full-time;Not employed, and not looking for work                                                      0.001408
Employed, full-time;Not employed, but looking for work                                                         0.001408
Employed, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed    0.001408
Name: proportion, dtype: float64

In [182]:
country_grp['ConvertedCompYearly'].median().loc[['Pakistan','Germany','India','China']]
country_grp['ConvertedCompYearly']

Country
Pakistan     7476.0
Germany     69318.0
India       18576.0
China       45048.0
Name: ConvertedCompYearly, dtype: float64

In [186]:
country_grp['ConvertedCompYearly'].agg(func=['median','mean']).loc[['Pakistan','Germany','India','China']]

           median           mean
Country
Pakistan   7476.0   16691.010345
Germany   69318.0  115087.296703
India     18576.0   51443.079613
China     45048.0   65380.908537

In [243]:
numeric_cols=df.select_dtypes(include=['int64','float64',]).columns
country_grp[numeric_cols].agg(func=['median','mean'])

                                        index               ResponseId  \
                                       median          mean     median
Country
Afghanistan                           33428.0  35919.391304    33429.0
Albania                               34049.0  36882.016949    34050.0
Algeria                               36541.5  35626.333333    36542.5
Andorra                               42647.0  38748.866667    42648.0
Angola                                40098.5  38712.666667    40099.5
...                                       ...           ...        ...
Venezuela, Bolivarian Republic of...  46876.0  44530.941176    46877.0
Viet Nam                              33437.0  36805.233438    33438.0
Yemen                                 46634.0  43925.142857    46635.0
Zambia                                44271.0  42760.650000    44272.0
Zimbabwe                              44652.5  44360.133333    44653.5

                                                     CompTotal                \
                                              mean      median          mean
Country
Afghanistan                           35920.391304      6000.0  3.808414e+06
Albania                               36883.016949      5500.0  5.104657e+05
Algeria                               35627.333333     75000.0  8.754444e+04
Andorra                               38749.866667     31500.0  7.677250e+04
Angola                                38713.666667    600000.0  1.287990e+09
...                                            ...         ...           ...
Venezuela, Bolivarian Republic of...  44531.941176      1094.0  4.498590e+03
Viet Nam                              36806.233438  15000000.0  4.443807e+07
Yemen                                 43926.142857     20750.0  1.071667e+05
Zambia                                42761.650000      6200.0  5.613333e+03
Zimbabwe                              44361.133333       950.0  9.445000e+04

                                     VCHostingPersonal use       \
                                                    median mean
Country
Afghanistan                                            NaN  NaN
Albania                                                NaN  NaN
Algeria                                                NaN  NaN
Andorra                                                NaN  NaN
Angola                                                 NaN  NaN
...                                                    ...  ...
Venezuela, Bolivarian Republic of...                   NaN  NaN
Viet Nam                                               NaN  NaN
Yemen                                                  NaN  NaN
Zambia                                                 NaN  NaN
Zimbabwe                                               NaN  NaN

                                     VCHostingProfessional use      WorkExp  \
                                                        median mean  median
Country
Afghanistan                                                NaN  NaN     6.0
Albania                                                    NaN  NaN     5.0
Algeria                                                    NaN  NaN     2.5
Andorra                                                    NaN  NaN    13.0
Angola                                                     NaN  NaN     6.0
...                                                        ...  ...     ...
Venezuela, Bolivarian Republic of...                       NaN  NaN     4.5
Viet Nam                                                   NaN  NaN     4.0
Yemen                                                      NaN  NaN     1.0
Zambia                                                     NaN  NaN     2.0
Zimbabwe                                                   NaN  NaN     5.0

                                                ConvertedCompYearly  \
                                           mean              median
Country
Afghanistan                            9.428571             10894.0
Albania                                6.166667             15360.0
Algeria                                4.357143              7440.0
Andorra                               15.800000             76784.0
Angola                                15.000000              3073.5
...                                         ...                 ...
Venezuela, Bolivarian Republic of...   7.177419             12000.0
Viet Nam                               5.751553             11388.0
Yemen                                  3.571429             15000.0
Zambia                                 6.285714              6612.0
Zimbabwe                               6.583333             11400.0


                                              mean
Country
Afghanistan                           33914.666667
Albania                               24895.148148
Algeria                               12732.888889
Andorra                               98003.125000
Angola                                 6222.750000
...                                            ...
Venezuela, Bolivarian Republic of...  17079.400000
Viet Nam                              37707.563830
Yemen                                 17464.666667
Zambia                                 8452.000000
Zimbabwe                              87596.000000

[180 rows x 14 columns]

This is Code For finding percentage of people from each country who knew python 
Finding country with maximum python developers
And Table showing total count of developers in a country and how many of them knows python

In [260]:
total=country_grp['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python')).sum()
result=country_grp['LanguageHaveWorkedWith'].apply(lambda x: ((x.str.contains('Python').sum())/total)*100)
print(result)
print(result.idxmax())
print(result.max())
df_to_combine1=df['Country'].value_counts()
df_to_combine2=country_grp['LanguageHaveWorkedWith'].apply(lambda x: ((x.str.contains('Python').sum())))
print(7017/total)
pd.concat([df_to_combine1,df_to_combine2],axis=1).sort_values(by=['LanguageHaveWorkedWith'],ascending=False)

Country
Afghanistan                             0.073196
Albania                                 0.055629
Algeria                                 0.055629
Andorra                                 0.011711
Angola                                  0.008783
                                          ...
Venezuela, Bolivarian Republic of...    0.152247
Viet Nam                                0.398185
Yemen                                   0.011711
Zambia                                  0.017567
Zimbabwe                                0.032206
Name: LanguageHaveWorkedWith, Length: 180, dtype: float64
United States of America
20.54457619675011
0.2054457619675011

,count,LanguageHaveWorkedWith
Country,,
United States of America,13543,7017
India,6639,3081
Germany,5395,2674
United Kingdom of Great Britain and Northern Ireland,4190,2082
Canada,2490,1272
...,...,...
Sierra Leone,2,0
Monaco,1,0
San Marino,1,0
Seychelles,1,0
Djibouti,1,0